 <div id="header">		
            <a href="{{path('home')}}" class="logo"><span>CarteBlanche - HTML/CSS theme created by Chris Fay/Chris Fay Consulting</span></a>
            <div id="tagline">
                <p>Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
            </div>
        </div><!--[END] //header -->