<!--[START] //slideshow -->
<div id="slideshowWrapper">	
    <div id="slideshow">								
        <a href="http://chrisfay.net" target="_blank"><img src="/bundles/igortest/images/rotator/1.jpg" alt="rotator image" /></a>				
        <a href="http://chrisfay.net" target="_blank"><img src="/bundles/igortest/images/rotator/2.jpg" alt="rotator image" /></a>				
        <a href="http://chrisfay.net" target="_blank"><img src="/bundles/igortest/images/rotator/3.jpg" alt="rotator image" /></a>				
        <a href="http://chrisfay.net" target="_blank"><img src="/bundles/igortest/images/rotator/4.jpg" alt="rotator image" /></a>				
        <a href="http://chrisfay.net" target="_blank"><img src="/bundles/igortest/images/rotator/6.jpg" alt="rotator image" /></a>				
        <a href="http://chrisfay.net" target="_blank"><img src="/bundles/igortest/images/rotator/5.jpg" alt="rotator image" /></a>														
    </div>
    <div class="circleDivider"><p>Temporibus autem quibusdam et aut <a href="#">officiis</a>.</p></div>				
</div>
<!--[END] //slideshow -->