{% extends "IgorTestBundle::Default/index.html.twig" %}
{% block title %}About Us{% endblock %}
{% block content_header '' %}
{% block content %}
<div id="contentWrapper">
    <div class="glow"></div>
    <div id="wrapper">
     {% include "IgorTestBundle:Templates:header.html.twig"%}
        <div id="mainContent">
            <div class="col1">
                {% for item in about %}
                {{ item.content|raw }}
                {% endfor %}
                    <div class="clear"></div>										
                </div><!--[END] //col1 -->
                <div class="col2">
				 {% include "IgorTestBundle:Templates:sidebar.html.twig" with { route: route }%}
                        <!--[END] //sidebar module -->
                    </div><!--[END] //col1 -->					
                </div><!--[END] //mainContent -->
                <div class="clear"></div>
            </div><!--[END] #wrapper -->
            <div class="clear"></div>
        </div><!--[END] //contentWrapper -->

        <div class="clear"></div>
 {% include "IgorTestBundle:Templates:footer.html.twig"%}   
{% endblock %}
